@model List<ResultFeatureDto>

<link rel="stylesheet" href="~/VillaAgency-1.0.0/assets/css/custom-public-defaultFeature.css" />

<div class="featured section">
    <div class="container">

        @foreach (var item in Model)
        {
            int faqCounter = 0;

            <div class="row">
                <div class="col-lg-4">
                    <div class="left-image">
                        <img src="@item.ImageUrl" alt="">
                        <a ><img src="~/VillaAgency-1.0.0/assets/images/featured-icon.png" alt="" style="max-width: 60px; padding: 0px;"></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="section-heading">
                        <h6>| Featured</h6>
                        <h2>@item.Title</h2>
                    </div>
                    <div class="accordion" id="accordionExample-@item.Id">
                        @foreach (var question in item.FAQs)
                        {
                            faqCounter++;
                            bool isFirst = (faqCounter == 1);

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading-@item.Id-@faqCounter">
                                    <button class="accordion-button @(isFirst ? "" : "collapsed")" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapse-@item.Id-@faqCounter"
                                            aria-expanded="@(isFirst ? "true" : "false")"
                                            aria-controls="collapse-@item.Id-@faqCounter">
                                        @question.Question
                                    </button>
                                </h2>

                                <div id="collapse-@item.Id-@faqCounter"
                                     class="accordion-collapse collapse @(isFirst ? "show" : "")"
                                     aria-labelledby="heading-@item.Id-@faqCounter"
                                     data-bs-parent="#accordionExample-@item.Id">
                                    <div class="accordion-body">
                                        @question.Answer
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info-table">
                        <ul>
                            @foreach (var details in item.FeatureDetails)
                            {
                                <li>
                                    <img src="~/VillaAgency-1.0.0/assets/images/info-icon-04.png" alt="" style="max-width: 52px;">
                                    <div class="info-text-wrapper">
                                        <h4>@details.Title</h4>
                                        <span>@details.SubTitle</span>
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        }
    </div>
</div>