@model List<ResultProductDto>

<link rel="stylesheet" href="~/VillaAgency-1.0.0/assets/css/custom-public-defaultProduct.css" />

<div class="properties section">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6 style="color: #f35525; font-weight: 700; text-transform: uppercase; letter-spacing: 1px;">| Properties</h6>
                    <h2>We Find the Perfect Space for Your Dreams</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 property-card-wrapper">
                    <div class="item">
                        <a href="property-details.html" class="property-image-wrapper">
                            <img src="@item.ImageUrl"
                                 alt="@item.Title"
                                 class="property-thumb"
                                 onerror="this.onerror=null; this.src='https://images.pexels.com/photos/6489116/pexels-photo-6489116.jpeg';">
                        </a>
                        <span class="category">@item.Category</span>
                        <h6>$@item.Price.ToString("N0")</h6>
                        <h4 class="property-item-title">
                            <a href="property-details.html">@item.Title</a>
                        </h4>
                        <ul>
                            <li>Bedrooms: <span>@item.BedroomCount</span></li>
                            <li>Bathrooms: <span>@item.BathroomCount</span></li>
                            <li>Area: <span>@item.Area m²</span></li>
                            <li>Floor: <span>@item.Floor</span></li>
                            <li>Parking: <span>@item.ParkingCount</span></li>
                        </ul>
                        <div class="main-button text-center">
                            <a asp-controller="DefaultProductDetail" asp-action="Index" asp-route-id="@item.Id">See Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="text-center properties-btn-container">
            <a asp-controller="DefaultProduct" asp-action="Index" class="main-button-custom">
                View All Properties
            </a>
        </div>

    </div>
</div>